.ant-modal-content {
    padding: 0!important;
}

.otp-group {
    display: flex;
    width: 100%;
    max-width: 800px;
    column-gap: 10px;
  }
  
  .otp-input {
    width: 100%;
    height: 60px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    
  }